body{
    width:1220px;
    margin-left: auto;
    margin-right: auto;
    display: center;
}

header{
    width:1220px;
    margin-left: auto;
    margin-right: auto;
    display: center;
}

img{
    margin:5px;
    width:50px;
}
.header_logo_{display: inline;}

.bar{
    background-image: url("../img/carta-marrone-papiro.png");
    margin: 0px;
    width: 100%;
    display: block;
    
}

.link{
    display: inline-block;
    width: 500px;
    display: left;
    margin-right: 0px;
    margin-left: 15px;
    margin-top: 5px;
    padding-top:5px;
   
    
}

.login{
    display: inline-block;
    width:640px;
    margin-left: 53px;
    display:  right;
}

.form{
    display: inline-block;
    margin: 0px;
}

.email_login{
    margin: 5px;
    display: inline;
}

.password_login{
    margin: 5px;
    display: inline;
}

.submit_btn_login{
    margin: 10px;
    display: inline;
}

.btn_signin{
    margin: 10px;
    display: inline-block;
}

.dropdown_account img{ 
    width: 20px;
    border-radius: 50%;
    display: right; 
      
}

.dropdown_account{
    display: center;
    width:50px;
    height: 25px; 
    margin: 0px;
    display:  right;
    margin-left: 530px; 
}

.user_name{
    display:inline-block;
}













.dropdown_content a:hover {background-color: #ddd;}

.dropdown_account:hover .dropdown_content{display: block;}

.dropdown_account:hover .dropbtn{background-color: #ddd;}

/* Dropdown Button */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown_account {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
     
  }



  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */